* {

    box-sizing: border-box;
  
    }
  
    @media only screen and (min-width: 480px) {
  
    body {
  
    background: black;
  
    }
  
    }
  
    html, body {
  
    margin: 0;
  
    padding: 0;
  
    }
  
      div {
  
        transform: translate(15%, 5%);
  
      }
  
      input[type=button],input[type=reset] {
  
        width: 60px;
  
        height: 60px;
  
        border-radius: 50%;
  
        border: none;
  
        font-size: 25px;
  
        font-weight: 500;
  
        cursor: pointer;
  
        background: #001818;
  
        color: white;
  
      }
  
      input[type=text] {
  
        width: 250px;
  
        height: 150px;
  
        border-top: none;
  
        border-right: none;
  
        border-left: none;
  
        border-radius: 0px 0px 20px 20px;
  
        text-align: right;
  
        font-size: 50px;
  
        background: #001818;
  
        color: white;
  
        border-bottom-width: 10px;
  
      }
  
      .ab:hover {
  
      background: #4c4c4c;
  
      }
  
      .ba:hover {
  
        background: red;
  
      }